<!--

<div class="profile">
  <h2>Welcome to Your Profile, {{ user?.username }}</h2>
  <div class="user-info">
    <p>Name: {{ user?.firstName }} {{ user?.lastName }}</p>
    <p>Email: {{ user?.email }}</p>
    <p>Gender: {{ user?.gender }}</p>
    <p>Address: {{ user?.address }}</p>
    <p>Date of Birth: {{ user?.dob | date }}</p>
  </div>
  <div class="profile-picture">
    <img *ngIf="profilePicture" [src]="profilePicture" alt="Profile Picture" />
    <input
      type="file"
      accept="image/*"
      (change)="onProfilePictureChange($event)"
    />
  </div>
  <button *ngIf="user" (click)="logout()">Logout</button>
</div> -->

<div class="profile">
  <h2>Welcome to Your Profile, {{ user?.username }}</h2>
  <div class="user-info">
    <p>Name: {{ user?.firstName }} {{ user?.lastName }}</p>
    <p>Email: {{ user?.email }}</p>
    <p>Gender: {{ user?.gender }}</p>
    <p>Address: {{ user?.address }}</p>
    <p>Date of Birth: {{ user?.dob | date }}</p>
  </div>
  <div class="profile-picture">
    <img
      *ngIf="user && user.profilePicture"
      [src]="user.profilePicture"
      alt="Profile Picture"
    />
    <input
      type="file"
      accept="image/*"
      (change)="onProfilePictureChange($event)"
    />
  </div>
  <button *ngIf="user" (click)="logout()">Logout</button>
</div>
